@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');


/* Rectangle 1 */
#rectangle1 {
box-sizing: border-box;

position: absolute;
width: 1220px;
height: 750px;
left: 150px;
top: 233px;

background: #FFFFFF;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;

}

/* Group 3 */
#listWrapper {
position: absolute;
width: 950px;
height: 610px;
left: 60px;
top: 30px;
}

/* Rectangle 2 */
#rectangle2 {
box-sizing: border-box;

position: absolute;
width: 950px;
height: 610px;
left: 80px;
top: 80px;

background: #FFFFFF;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}



.listLine {
border: 1px solid #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
position: absolute;
    width: 949.88px;
    height: 3px;
    left: 0px;
    top: 100px;
    display: block;
}



/* Rectangle 14 */
.checkButton {
    background: #77FF85;
    border-radius: 14px;
    display: inline;
    position: absolute;
    width: 161px;
    height: 60px;
    left: 700px;
    top: 344px;
}


/* 보기 */
.checkText {
    font-family: 'Poor Story';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    display: inline;
    align-items: center;
    text-align: center;
    
    color: #000000;
    position: absolute;
    width: 86.72px;
    height: 43.44px;
    left: 740px;
    top: 353px;
    bottom: 70px;
    z-index: 1;
}



/* 토라카츠 */
.placenameText{
    font-family: 'Poor Story';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    display: inline;
    align-items: center;
    text-align: center;
    
    color: #000000;

    position: absolute;
    width: 326.41px;
    height: 60.08px;
    left: 300px;
    top: 343.86px;
}

/* 20230314 */
.dateText {
    font-family: 'Poor Story' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 48px !important;
    line-height: 60px !important;
    display: inline !important;
    align-items: center !important;
    text-align: center !important;
    
    color: #000000 !important;

    position: absolute !important;
    width: 252px !important;
    height: 44px !important;
    left: 50px !important;
    top: 20px;
    padding-bottom: 100px !important;
}


/* 예약 조회 */
#titleWrap {
position: absolute;
width: 569px;
height: 87px;
left: 600px;
top: 102px;

font-family: 'Poor Story';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 120px;
display: flex;
align-items: center;

color: #000000;
}

#bttnWrapper {
    height: 20px;
    width: 20px;
    left: 1200px;
    top: 50px;
    overflow: hidden;
    position: absolute;
}
/* Logout */
#backbutton {
    position: relative;
    left: 350px;
    top: 20px;

    background-color: whitesmoke;

    font-family: 'Poor Story';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

/* 최근 6개의 예약만 보여집니다. */
#explain {
position: absolute;
width: 608px;
height: 49px;
left: 300px;
top: 20px;

font-family: 'Poor Story';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 60px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}
