<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.frog.frogbanchan.dao.mybatis.mapper.HistoryMapper">
    <cache />

    <select id="findHistory" resultType="History">
        SELECT HISTORY_ID AS historyId,
               USERNAME,
               SCORE,
               PLACE_ID AS placeId,
               RECORDED_DATE AS recordedDate,
               PLACE_MENU_ID AS placeMenuId
        FROM HISTORY
        WHERE HISTORY_ID = #{historyId}
    </select>

    <select id="findHistoryList" resultType="History">
        SELECT HISTORY_ID AS historyId,
               USERNAME,
               SCORE,
               PLACE_ID AS placeId,
               RECORDED_DATE AS recordedDate,
               PLACE_MENU_ID AS placeMenuId
        FROM HISTORY
        WHERE USERNAME = #{username}
    </select>

    <insert id="insertHistory" parameterType="History">
        INSERT INTO HISTORY (HISTORY_ID, USERNAME, SCORE, PLACE_ID, RECORDED_DATE, PLACE_MENU_ID)
        VALUES (SEQUENCE_History.nextval, #{username}, 0, #{placeId}, SYSDATE, NULL)
    </insert>

    <update id="updateHistory" parameterType="History">
        UPDATE HISTORY
        SET SCORE = #{score},
            PLACE_MENU_ID = #{placeMenuId}
        WHERE HISTORY_ID = #{historyId}
    </update>

    <delete id="deleteHistory">
        DELETE FROM HISTORY
        WHERE HISTORY_ID = #{historyId}
    </delete>

    <delete id="deleteHistoryByUsername">
        DELETE FROM HISTORY
        WHERE USERNAME = #{username}
    </delete>

    <select id="getHistoryMenu" resultType="int">
        SELECT *
        FROM (SELECT PLACE_MENU_ID AS placeMenuId
              FROM HISTORY
              WHERE USERNAME = #{username}
              ORDER BY RECORDED_DATE DESC )
        WHERE ROWNUM = 1
    </select>
</mapper>