<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.frog.frogbanchan.dao.mybatis.mapper.MenuMapper">
    <cache />

    <select id="findMenu" resultType="Menu">
        SELECT MENU_ID AS menuId,
               NAME
        FROM MENU
        WHERE MENU_ID = #{menuId}
    </select>

    <select id="findMenuList" resultType="Menu">
        SELECT MENU_ID AS menuId,
               NAME
        FROM MENU
    </select>

    <select id="findMenuListByTagList" resultType="Menu"  parameterType="java.util.HashMap">
        SELECT MENU.MENU_ID AS menuId,
        MENU.NAME
        FROM MENU JOIN MENU_TAG ON MENU.MENU_ID = MENU_TAG.MENU_ID
        WHERE MENU_TAG.TAG IS NOT NULL
        <if test="like != null">
            AND MENU_TAG.TAG IN
            <foreach collection="like" item="item" open="(" separator="," close=")">
                #{item, jdbcType=VARCHAR}
            </foreach>
        </if>
        <if test="dislike != null">
        minus
        SELECT MENU.MENU_ID AS menuId,
                MENU.NAME
        FROM MENU JOIN MENU_TAG ON MENU.MENU_ID = MENU_TAG.MENU_ID
            WHERE MENU_TAG.TAG IN
            <foreach collection="dislike" item="item" open="(" separator="," close=")">
                #{item, jdbcType=VARCHAR}
            </foreach>
        </if>
    </select>

    <select id="findMenuTagList" resultType="string">
        SELECT TAG
        FROM MENU_TAG
        WHERE MENU_ID = #{menuId}
    </select>

    <select id="findAllTagList" resultType="string">
        SELECT DISTINCT TAG
        FROM MENU_TAG
    </select>

    <select id="findMenuByPlaceMenuId" resultType="string">
        SELECT NAME
        FROM MENU
        WHERE MENU_ID = (SELECT MENU_ID
                         FROM PLACE_MENU
                         WHERE PLACE_MENU_ID = #{placeMenuId})
    </select>

</mapper>