<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.frog.frogbanchan.dao.mybatis.mapper.PlaceMapper">
    <cache />

    <select id="findPlaceById" resultType="Place">
    	SELECT PLACE_ID AS placeId, 
                PASSWORD,
                NAME,
                ADDRESS
        FROM PLACE
        WHERE PLACE_ID = #{placeId}
    </select>

    <insert id="insertPlace" parameterType="Place">
        INSERT INTO PLACE(place_id, password, name, address)
        VALUES (#{placeId}, #{password}, #{name}, #{address})
    </insert>

    <update id="updatePlace" parameterType="Place">
        UPDATE PLACE
        SET PASSWORD = #{password},
            NAME = #{name},
            ADDRESS = #{address}
        WHERE PLACE_ID = #{placeId}
    </update>

    <delete id="deletePlace">
        DELETE FROM PLACE
        WHERE PLACE_ID = #{placeId}
    </delete>
<!-- 
    <insert id="insertAvailableTime" paramterMap="List<Timestamp>">
        INSERT INTO PLACE_AVAILABLE(place_id, available_time)
        VALUES
        <foreach collection="array" item="time" separator=",">
            (#{placeId}, #{time})
        </foreach>
    </insert> -->



</mapper>