@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mainbox{
    box-sizing: border-box;

    position: absolute;
    width: 1500px;
    height: 800px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);

    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /*display: flex;*/

}



.titleWrap {
    margin-top: 1%;

    text-align: center;
    font-family: 'Poor Story';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    color: #262626;
}

.contentWrap {
    flex: 1;
    text-align: center;
}

.bttnWrapper {
    display: flex;
}

.backButton {
    box-sizing: border-box;


    width: 300px;
    height: 69px;
    margin: 1% auto;
    display:block;


    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 25px;

    font-size: 30px;
    font-family: 'Poor Story';
    font-weight: 700;
    background-color: green;
    border-radius: 64px;
    color: white;
    cursor: pointer;
}


.error {
    float:left;

    width: 1000px;
    outline: none;
    border: none;
    height: 30px;

    text-align: left;
    font-family: 'Poor Story';
    font-size: 20px;
    font-weight: 400;
    color: orange;
}

/*.fd {*/
/*    width:80%;*/
/*    margin: 0 auto;*/
/*    padding:30px;*/
/*}*/

.loc {
    font-size: 20px;
    float:right;
    margin-right: 5%;
}

/*.rjator {*/
/*    style="text-decoration: underline;"*/
/*}*/

.map {
    width:90%;
    height:550px;
    border: 1px solid #000000;
    border-radius:30px;
    margin-left: 5%;
}